<h1><%= @coupon.coupon_code %></h1>   
<h1><%= @coupon.store %></h1> 
<%#We're invoking the getter method that we get from ActiveRecord 
When we retrieve the object that we find it finds the row in the table that has that id and it calls the setter methods for the whole hash of attributes and then those get assigned to the attributes of the object so you can call getters to get the values  
We went from a row in the table, to an object that has all the attributes that came from the table. Now we can call  getter methods or other methods to get the value of that instance variable. 
%>